@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 20px;
    padding-right: 20px;
  }

  .navbar-expand-lg .navbar-nav .nav-link:last-child{
    padding-right: 100px;
  }
}

.header {
  margin-bottom: 150px;
}

